{% extends 'base.html' %}

{% block title %}
Аккаунт
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="my-3 subtext2">{{ user_personal_data.surname }} {{ user_personal_data.name }}</h2>
    {% if user_personal_data %}
    <div class="text-grey">
        <p class="text-grey">Электронная почта</p>
        <p class="text-black">{{ user_personal_data.email }}</p>
        <hr class="hr-grey">
    </div>
    <div class="text-grey" style="margin-top: 20px;">
        <p class="text-grey">Возраст</p>
        <p class="text-black">{{ user_personal_data.age }}</p>
        <hr class="hr-grey">
    </div>
    {% else %}
    <p>Информация о пользователе не найдена</p>
    {% endif %}
    <a href="{{ url_for('edit_account') }}" id="editBtn" class="btn btn-secondary" style="border-radius: 30px; font-size: 0.8em; margin-left: 10px; height: 30px; display: inline-flex; align-items: center;">
        Редактировать
    </a>
    <a href="{{ url_for('history') }}" id="historyBtn" class="btn btn-success" style="border-radius: 30px; font-size: 0.8em; margin-left: 10px; height: 30px; display: inline-flex; align-items: center;">
        Просмотреть историю
    </a>
    <a href="{{ url_for('logout') }}" id="exitBtn" class="btn btn-danger" style="border-radius: 30px; font-size: 0.8em; margin-left: 10px; height: 30px; display: inline-flex; align-items: center;">
        Выйти
    </a>
</div>
{% endblock %}
