{% extends 'base.html' %} {% block title %} Полезные материалы {% endblock %} {%
block body %}
<div class="container mt-5">
	<h1>Наши статьи</h1>

	<div class="alert alert-success">
		<h2>Банкротство</h2>
		<p>Что такое банкротство, его плюсы и минусы</p>
		<a href="/articles/1" class="btn btn-success" target="_blank">Подробнее</a>
	</div>
	<div class="alert alert-success">
		<h2>Банкротство через МФЦ</h2>
		<p>
			Что такое банкротство через МФЦ? Сколько длится?
		</p>
		<a href="/articles/2" target="_blank" class="btn btn-success">Подробнее</a>
	</div>
	<div class="alert alert-success">
		<h2>Банкротство через суд</h2>
		<p>
			Что такое банкротство через суд? В какой суд нужно обращаться с заявлением
			о признании банкротом?
		</p>
		<a href="/articles/3" target="_blank" class="btn btn-success">Подробнее</a>
	</div>
	<div class="alert alert-success">
		<h2>Оплата государственной пошлины</h2>
		<p>Для чего нужна? Как и где можно оплатить государственную пошлину?</p>
		<a href="/articles/4" target="_blank" class="btn btn-success">Подробнее</a>
	</div>
	<div class="alert alert-success">
		<h2>Финансовый управляющий</h2>
		<p>Почему он так важен, его задачи и чем он поможет?</p>
		<a href="/articles/5" target="_blank" class="btn btn-success">Подробнее</a>
	</div>
</div>
{% endblock %}
