{% extends 'base.html' %} {% block title %} Документы {% endblock %} {%block
body %} {% if id == 1 %}
<div class="container text-center mt-5">
	<h4 class="display-5 fw-bold">
		При подаче заявления в суд Вы должны приложить следующие документы:
	</h4>
	<div
        class="subtext2"
        style="padding: 0 18px; background-color: #f1f1f1; border-radius: 10px"
>Подробнее о процедуре банкротства через суд читайте <a
        href="/articles/3"
        target="_blank"
        style="
									text-decoration: underline;
									cursor: pointer;
									color: inherit;
									font-weight: 650;
								"
>здесь</a
></div>
	<a href="{{ url_for('download_file', filename='Заявление о банкротстве ФЛ в суд + приложения.docx') }}" class="btn-custom">Скачать заявление о признании гражданина банкротом в суд</a>
</div>
<div
	class="subtext2"
	style="padding: 0 18px; background-color: #f1f1f1; border-radius: 10px"
>
	<ol>
		<li>
			Доказательство уплаты государственной пошлины в размере 300 рублей<a href="https://www.consultant.ru/document/cons_doc_LAW_39570/a67dde7f663104e7cffeff6d926f3a3e8ac36aa2/"
                target="_blank"
                style="text-decoration: underline; cursor: pointer; color: inherit; font-weight: 650;">(ст. 333.21 НК РФ)</a> или
			мотивированное ходатайство об ее отсрочке, рассрочке, уменьшении,
			освобождении от ее уплаты.
		</li>
		<li>
			Доказательство направления копии заявления кредиторам (почтовые квитанции,
			расписки о вручении, почтовые уведомления);
		</li>
		<li>
			Доказательство внесения на депозитный счет арбитражного суда денежных
			средств для оплаты вознаграждения финансовому управляющему (размер
			фиксированного вознаграждения составляет 25 000 рублей за процедуру) либо
			мотивированное ходатайство о предоставлении отсрочки внесения на депозит
			суда средств на выплату вознаграждения финансовому управляющему сроком до
			даты судебного заседания по рассмотрению обоснованности заявления о
			признании гражданина банкротом;
		</li>
		<li>
			Ходатайство о предоставлении отсрочки внесения на депозит суда средств на
			выплату вознаграждения финансового управляющего;
			<br />
			<a
				href="{{ url_for('download_file', filename='Ходатайство_о_предоставлении_отсрочки_внесения_на_депозит_суда_средств.doc') }}"
				class="btn-custom"
				>Скачать бланк</a
			>
		</li>
		<li>
			Документы, подтверждающие наличие задолженности, основание ее
			возникновения и неспособность гражданина удовлетворить требования
			кредиторов в полном объеме (кредитные договоры, графики платежей,
			претензии банков, исковые заявления кредиторов, договоры займа, расписки в
			получении денежных средств, договоры залога имущества и т.п.);
		</li>
		<li>
			Документы, подтверждающие отсутствие у гражданина статуса индивидуального
			предпринимателя на основании выписки из Единого государственного реестра
			индивидуальных предпринимателей либо иного подтверждающего указанные
			сведения документа. Такие документы должны быть получены не ранее чем за
			пять рабочих дней до даты подачи в арбитражный суд гражданином заявления о
			признании его банкротом. Справку можно оформить онлайн через
			<a
				href="https://www.gosuslugi.ru/600448/1/form"
				target="_blank"
				style="
					text-decoration: underline;
					cursor: pointer;
					color: inherit;
					font-weight: 650;
				"
				>Госуслуги</a
			>
		</li>
		<li>
			Списки кредиторов и должников гражданина с указанием их наименования или
			ФИО, суммы кредиторской и дебиторской задолженности, места нахождения или
			места жительства кредиторов и должников гражданина, а также с указанием
			отдельно денежных обязательств и (или) обязанности по уплате обязательных
			платежей, которые возникли в результате осуществления гражданином
			предпринимательской деятельности.
		</li>
        <a
            href="{{ url_for('download_file', filename='Сведения о кредиторах и должниках.docx') }}"
            class="btn-custom"
            >Скачать бланк</a
        >
		<li>
			Опись имущества гражданина с указанием места нахождения или хранения
			имущества, в том числе имущества, являющегося предметом залога, с
			указанием наименования или фамилии, имени и отчества залогодержателя.
			<br />
			<a
				href="{{ url_for('download_file', filename='Опись имущества.docx') }}"
				class="btn-custom"
				>Скачать бланк</a
			>
		</li>
		<li>
			Копии документов, подтверждающих право собственности гражданина на
			имущество, и документов, удостоверяющих исключительные права на результаты
			интеллектуальной деятельности гражданина (при наличии);
		</li>
		<li>
			Копии документов о совершавшихся гражданином в течение трех лет до даты
			подачи заявления сделках с недвижимым имуществом, ценными бумагами, долями
			в уставном капитале, транспортными средствами и сделках на сумму свыше
			трехсот тысяч рублей (при наличии);
		</li>
		<li>
			Выписка из реестра акционеров (участников) юридического лица, акционером
			(участником) которого является гражданин (при наличии);
		</li>
		<li>
			Сведения о полученных физическим лицом доходах и об удержанных суммах
			налога за трехлетний период, предшествующий дате подачи заявления о
			признании гражданина банкротом. Её можно получить на
			<a
				href="https://lk.gosuslugi.ru/profile/taxes"
				target="_blank"
				style="
					text-decoration: underline;
					cursor: pointer;
					color: inherit;
					font-weight: 650;
				"
				>Госуслугах</a
			>
			, в личном кабинете на
			<a
				href="https://lkfl2.nalog.ru/lkfl/individual/main"
				target="_blank"
				style="
					text-decoration: underline;
					cursor: pointer;
					color: inherit;
					font-weight: 650;
				"
				>сайте ФНС</a
			>, а также у работодателя;
		</li>
		<li>
			Выданная банком справка о наличии счетов, вкладов (депозитов) в банке и
			(или) об остатках денежных средств на счетах, во вкладах (депозитах),
			выписки по операциям на счетах, по вкладам (депозитам) граждан в банке за
			трехлетний период, предшествующий дате подачи заявления о признании
			гражданина банкротом, справки об остатках электронных денежных средств и о
			переводах электронных денежных средств за трехлетний период,
			предшествующий дате подачи заявления о признании гражданина банкротом (при
			наличии);
		</li>
		<li>
			Копия страхового свидетельства обязательного пенсионного страхования
			(СНИЛС);
		</li>
		<li>
			Сведения о состоянии индивидуального лицевого счета застрахованного лица.
			Оформить выписку можно на
			<a
				href="https://www.gosuslugi.ru/600303/1/form"
				target="_blank"
				style="
					text-decoration: underline;
					cursor: pointer;
					color: inherit;
					font-weight: 650;
				"
				>Госуслугах</a
			>
			или на
			<a
				href="https://sfr.gov.ru/branches/yanao/news/~2023/04/20/248796?ysclid=luvohc3262175776331"
				target="_blank"
				style="
					text-decoration: underline;
					cursor: pointer;
					color: inherit;
					font-weight: 650;
				"
				>сайте СФР</a
			>;
		</li>
		<li>
			Копия решения о признании гражданина безработным, выданная государственной
			службой занятости населения, в случае принятия указанного решения;
		</li>
		<li>
			Копия свидетельства о постановке на учет в налоговом органе (при наличии);
		</li>
		<li>
			Копия свидетельства о заключении брака (при наличии заключенного и не
			расторгнутого на дату подачи заявления брака);
		</li>
		<li>
			Копия свидетельства о расторжении брака, если оно выдано в течение трех
			лет до даты подачи заявления (при наличии);
		</li>
		<li>Копия свидетельства о перемене имени (при наличии);</li>
		<li>Копия брачного договора (при наличии);</li>
		<li>
			Копия соглашения или судебного акта о разделе общего имущества супругов,
			соответственно заключенного и принятого в течение трех лет до даты подачи
			заявления (при наличии);
		</li>
		<li>
			Копия свидетельства о рождении ребенка, если гражданин является его
			родителем, усыновителем или опекуном;
		</li>
		<li>
			Копия акта органа опеки и попечительства о назначении гражданина опекуном
			(при наличии);
		</li>
		<li>
			Доверенность представителя с правом на ведение дела о банкротстве (если
			заявление подписывается представителем должника);
		</li>
		<li>
			Копия паспорта (копии всех листов, как с отметками, так и не заполненных);
		</li>
		<li>Копия трудовой книжки;</li>
		<li>Иные документы, подтверждающие обстоятельства, на которых должник основывает свои требования.</li>
	</ol>
</div>
{% elif id == 2 %}
<div class="container text-center mt-5">
	<h4 class="display-5 fw-bold">
		При подаче заявления в МФЦ Вы должны приложить следующие документы:
	</h4>
</div>
<div
        class="subtext2"
        style="padding: 0 18px; background-color: #f1f1f1; border-radius: 10px; text-align: center"
>Подробнее о процедуре банкротства через МФЦ читайте <a
        href="/articles/2"
        target="_blank"
        style="
									text-decoration: underline;
									cursor: pointer;
									color: inherit;
									font-weight: 650;
								"
>здесь</a
></div>
<div
	class="subtext2"
	style="padding: 0 18px; background-color: #f1f1f1; border-radius: 10px"
>
	<ol>
		<li>
			Заявление о признании гражданина банкротом во внесудебном порядке по
			утвержденной форме.
			<br />
			<a
				href="{{ url_for('download_file', filename='Заявление о признании гражданина банкротом в МФЦ.docx') }}"
				class="btn-custom"
				>Скачать бланк</a
			>
		</li>
		<li>
			Списки кредиторов и должников гражданина.
			<br />
			<a
				href="{{ url_for('download_file', filename='Сведения о кредиторах и должниках.docx') }}"
				class="btn-custom"
				>Скачать бланк</a
			>
		</li>
		<li>Копия документа, удостоверяющего личность гражданина;</li>
		<li>
			Копия документа, подтверждающего место жительства или пребывания
			гражданина;
		</li>
		<li>
			Копия документа, подтверждающего полномочия представителя (если заявление
			подается представителем)
		</li>
		<li>
			Копия документа, удостоверяющего личность представителя (если заявление
			подается представителем)
		</li>
	</ol>
	<br />
	<strong
		>Дополнительные требования в зависимости от категории гражданина:</strong
	>
	<ul>
		<li>
			Для лиц, получающих пенсию:
			<ol>
				<li>
					Справка, подтверждающая, что на дату ее выдачи гражданин является
					получателем страховой пенсии, пенсии по государственному пенсионному
					обеспечению, накопительной пенсии или иной пенсии. Для этого
					необходимо обратиться в МФЦ;
				</li>
				<li>
					Справка о том, что на дату её выдачи и не позднее чем за 1 год до даты
					обращения предъявлялся исполнительный документ имущественного
					характера и он не исполнен или исполнен частично (выданная не ранее
					чем за три месяца до даты обращения в МФЦ).
				</li>
			</ol>
		</li>
		<li>
			Для родителей и опекунов несовершеннолетних детей:
			<ol>
				<li>
					Справка о получении ежемесячного пособия в связи с рождением и
					воспитанием ребёнка (выданная не ранее чем за три месяца до даты
					обращения в МФЦ);
				</li>
				<li>
					Справка о том, что на дату её выдачи и не позднее чем за 1 год до даты
					обращения предъявлялся исполнительный документ имущественного
					характера и он не исполнен или исполнен частично (выданная не ранее
					чем за три месяца до даты обращения в МФЦ).
				</li>
			</ol>
		</li>
		<li>
			Если с Вас уже более 7 лет с Вас взыскивают задолженность, но Вы не смогли
			погасить долг полностью или погасили только его часть:
			<ol>
				<li>
					Справка о выданном не позднее чем за 7 лет до даты обращения с
					заявлением исполнительном документе имущественного характера, который
					предъявлялся к исполнению, но не был исполнен полностью или частично
					(выданная не ранее чем за три месяца до даты обращения в МФЦ)
				</li>
			</ol>
		</li>
	</ul>
</div>
{% endif %} {% endblock %}
