{% extends 'base.html' %}
{% block title %}
Стартовая страница
{% endblock %}

{% block body %}
<div class="container text-center mt-4">
    <h1 style="font-size: 2.5em; color: #444; text-align: center; margin-bottom: 0.5em;">Помогаем пройти путь к финансовому благополучию</h1>
    <p class="lead">Сервис для помощи гражданам при банкротстве</p>
    <p class="subtext">Быстро. Бесплатно. Анонимно.</p>
    <p class="reference">Вся информация на сайте ФинБанкрот носит справочный характер</p>

    <a href="{{ url_for('vote') }}" class="btn-custom">Пройти тест</a>
</div>

<div class="container mt-5">
    <h2 class="subtext2">Подойдет ли Вам банкротство?</h2>
    <p class="subtext2">Представьте, что Вы уже банкрот. Как изменится Ваша жизнь?</p>
    <b>Безусловно, что-то станет лучше:</b>
    <div class="reference2">
        <ul class="list-unstyled">
            <li>Долги спишутся! Но от абсолютно всех задолженностей избавиться не удастся - алименты, компенсации за причинение вреда, требования, не заявленные при реструктуризации долгов – подобные обязательства придется выплатить.</li>
            <li>Долги перестанут расти сразу после признания заявления о банкротстве обоснованным.</li>
            <li>Вы не останетесь совсем без имущества – жилое помещение, в котором Вы прописаны, вещи домашнего обихода, сумма денег не ниже прожиточного минимума – все это по праву Ваше.</li>
            <li>Банкротство через МФЦ бесплатно! Вам не придется платить даже госпошлину.</li>
            <li>Ваш помощник в банкротстве – финансовый управляющий будет следить за соблюдением Ваших прав – избавит от необходимости общения с кредиторами, будет ежемесячно выдавать сумму в размере прожиточного минимума.</li>
            <li>Если в отношении Вас уже ведутся судебные дела о задолженностях, процедура банкротства объединит их в один процесс.</li>
        </ul>
    </div>
    <b>Но не станет ли хуже?..</b>
    <ul class="list-unstyled">
        <li>Банкротство через суд окажется дорогостоящим – помимо публикаций в СМИ и стандартных судебных расходов (госпошлина, выписки из реестров, нотариальные услуги и т. д.), придется потратиться на финансового управляющего: плата за услуги составит 25 000 рублей за каждую процедуру, вознаграждение в размере 7% от суммы, выплаченной кредитору при реструктуризации</li>
        <li>Банкротство отнимет немало времени – внесудебная процедура займет около 6 месяцев, банкротство через суд – в среднем 1 год</li>
        <li>Процедура банкротства – это тотальный контроль. Будут досконально изучены все сделки, которые Вы осуществляли за год до принятия заявления о признании банкротом, Вы сможете пользоваться своими доходами только под руководством финансового управляющего, о покупке и продаже какого-либо имущества придется на время забыть</li>
        <li>На время банкротства суд может запретить выезд за границу</li>
        <li>Для судебного банкротства понадобится финансовый управляющий, найти которого – Ваша задача</li>
        <li>В ближайшие 5 лет после банкротства у Вас не будет второго шанса снова освободиться от долгов</li>
        <li>Взять кредит в ближайшие 5 лет будет не так просто, как минимум потребуется уведомить банк о своем банкротстве</li>
        <li>В течение 3 лет после банкротства не удастся быть директором ООО, однако вполне возможно быть участником юридического лица, главное – не участвовать в управлении</li>
        <li>Управлять кредитной организацией тоже нельзя – только через 10 лет после завершения процедуры реализации имущества</li>
        <li>Возможность управления различными финансовыми организациями приостанавливается на 5 лет</li>
        <li>Несмотря на вышеперечисленные ограничения ведения бизнеса, банкроту доступна возможность стать индивидуальным предпринимателем. Однако в случае, если Вы прекратили деятельность ИП и меньше чем через год подали заявление о банкротстве во внесудебном порядке, то с новой регистрацией ИП придется повременить в течение 5 лет</li>
    </ul>
</div>
{% endblock %}